<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net471" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="SQLite.CodeFirst" version="1.5.1.25" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.106" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net452" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net471" />
</packages>